name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go_version:
          - "1.24.9"
          - "1.25.3"
    runs-on: ubuntu-24.04
    env:
      IPFS_URL: http://ipfs:5001
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}
      - run: go test -v -race -timeout=120s ./... -find-unused-httpresp
        env:
          GOEXPERIMENT: "synctest"
    services:
      ipfs:
        image: ipfs/kubo:v0.26.0
        ports:
          - 5001:5001
        options: >-
          --health-cmd "curl -X POST -v -f http://localhost:5001/api/v0/version || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
