name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        containers:
          - 1.21.1-bullseye
    runs-on: ubuntu-20.04
    container: golang:${{ matrix.containers }}
    env:
      IPFS_URL: http://ipfs:5001
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go test -race -timeout=60s -find-unused-httpresp ./...
    services:
      ipfs:
        image: ipfs/kubo:v0.26.0
        ports:
          - 5001:5001
